.exercises-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza os botões horizontalmente */
}


.exercises-box button {
  display: block;
  width: 200px;
  height: 50px;
  padding: 20px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 11px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid black;
  padding: 15px;
  text-align: left;
}

.exercises-box button:hover {
  background-color: #3e8e41;
}

body {
  background-image: url('formulas-cientificas-na-lousa_23-2148494010.jpg');
  background-position: center; /* centralizar a imagem */
}

h1 {
  color: white; /* Define a cor do texto como branco */
  text-align: center; /* Centraliza o texto */
  font-size: 24px; /* Define o tamanho da fonte */
  margin-top: 20px; /* Define uma margem superior para o título */
  background-color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: gray;
}
